* {
  margin: 0;
  padding: 0;
  border-radius: 0px;
  box-sizing: border-box;
}

:root {
  --text-primary: #0C0C0C;
  --text-secondary: #555555;

  --bg-primary: #FAFAFA;
}

html, body {
  height: 100%;
  overflow: hidden;
  color: var(--text-primary);
  background-color: var(--bg-primary);
}

#root {
  display: flex;
  height: 100%;
}

button {
  border: 1px solid black;
  cursor: pointer;
  background-color: white;
}

input {
  border: 1px solid black;
  height: 36px;
}

input:focus {
  border: 1px solid black;
  outline: none;
}
