# These are environment variables that CAN be used with the official postgres image
# Currently, we are only making use of POSTGRES_USER & POSTGRES_DB,
# leaving the other variables to default.
# You can manually copy the variables in this example to a real postgres.env,
# or use the ./fillsecrets.sh script, located at the root of /app, to generate the file

POSTGRES_USER=
POSTGRES_DB=
POSTGRES_INITDB_ARGS=
POSTGRES_INITDB_WALDIR=
POSTGRES_HOST_AUTH_METHOD=